* {
text {
     font-size: 4em;
     font-family: 'Bradley Hand', 'Brush Script MT', cursive;
     text-align: center;
}

text1 {
     font-size: 2em;	
     font-family: 'Bradley Hand', 'Brush Script MT', cursive;
     text-align: center;
}

text-align: center;

}

body {
    background: black;
    color: pink;
    margin-top:150px;
}

